.App {
  background-color: #fafafa;
  .top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 3px 25px rgb(0 0 0 / 5%);
    background-color: #fff;
  }
  .layout {
    padding-top: 7rem;
    overflow: hidden;
  }
}